.venv/
__pycache__/
*.pyc
artifacts/vector_store.joblib
artifacts/fuzzy_clusters.joblib
assignment_extracted.txt
task.pdf
twenty+newsgroups.zip

venv/
data/
models/
notebooks/.ipynb_checkpoints/
.vscode/
